.topbar-appBar {
  height: 60;
  justify-content: "center";
}

.topbar-toolBar {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
}

.topbar-author {
  font-weight: bold;
  color: white;
}
.topbar-title {
  font-size: 1.1rem;
  font-style: italic;
  color: #e0e0e0;
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.topbar-error {
  margin-left: 12px;
}
.topbar-message {
  margin-left: 12px;
}
